a {
  text-decoration: none;
}

h2 a {
  color: seagreen;
}

body {
  font-family: Arial;
}

.today_class {
  color: darkred;
  font-size: 20px;
}

.tomorrow_class {
  color: darkblue;
  font-size: 20px;
}
